body {
    margin: 0 0 0 0; 
}

#header-logo {
    color:#EECE7C;
}

#header-image {
    width: 100%;
    background-color: red;
  }

#header-textbox {
    padding-top: .1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    background: #EECE7C;
    margin-top: -5px;
}

#textbox-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#textbox-subtitle {
    text-align: center;
    margin-top: -10px;
    font-size: .8rem;
    font-family: 'PT Serif', serif;
}

#textbox-maintext-outer {
    text-align: center;
    padding-left: .5rem;
    padding-right: .5rem;
}

#textbox-maintext-inner {
    font-size: 14px;
    font-family: 'PT Serif', serif;
}

h1 {
    font-size: 1.2rem;
}

#bio-section {
    margin-top: -20px;
    /* background-image: url("img/geometric-leaves-lightened.png"); */
    background-image: url("img/green-leaves-lightened.png");
    /* background-image: url("img/papyrus.png"); */
    background-repeat: repeat;
    padding-bottom: 20px;
}

#bio-section-title {
    padding-top: 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.flex-container {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    column-gap: 10px;
  }
  
.flex-item {
    /* background: #E4E4E4; */
    padding: 5px;
    width: 300px;
    height: fit-content;
    margin-top: 10px;
    /* line-height: 150px; */
    /* color: white; */
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.flex-card-top {
    height: 175px;;
    border-radius: 12px 12px 0px 0;
    background-color: #FFEBB9;
    margin: 0 0 0 0;
}
.flex-card-bottom {
    height:fit-content;
    border-radius: 0px 0px 12px 12px;
    background-color: #FFF6E8;
    margin: 0 0 0 0;
    padding: 5px 0 5px 0;
}

.bio-image {
    padding: 15px 0 0 0;
    height: 130px;
}

#bio-name {
    font-family: 'Inter', sans-serif;
    color:black;
    font-size: 14px;
    margin-top: -1px;
}

#bio-name-highlight {
    width:fit-content;
    height: 15px;
    margin: 0 auto;
    margin-top: -17px;
    padding: 5px 5px 5px 5px;
    background-color: #EECE7C;
}

#bio-content {
    font-family: 'PT Serif', serif;
    color:black;
    font-size: 14px;
    width: 280px;
    margin: 0 auto;
    font-weight: 100;
    line-height: normal;
}

#contact-prompt {
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-align: center;
    padding-right: 3rem;
    padding-left: 3rem;
}

@media screen and (min-width: 768px){
    #textbox-maintext-outer {
        text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
        /* color: red; */
    }
    h1 {
        font-size: 2rem;
    }
    #textbox-maintext-inner {
        font-size: 20px;
    }
    #textbox-subtitle {
        text-align: center;
        margin-top: -10px;
        font-size: 1rem;
    }
    #bio-name {
        margin-top: -1px;
    }
    #bio-name-highlight{
        margin-top: -20px;
    }
    .flex-card-top {
        height: 175px;;
        border-radius: 12px 12px 0px 0;
        /* background-color: #FFEBB9; */
        margin: 0 0 0 0;
    }
    .flex-card-bottom {
        height:fit-content;
        border-radius: 0px 0px 12px 12px;
        /* background-color: #FFF6E8; */
        margin: 0 0 0 0;
        padding: 5px 0 5px 0;
    }
}

@media screen and (min-width: 900px){
    #textbox-maintext-outer {
        text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
        /* color: red; */
    }
    h1 {
        font-size: 2rem;
    }
    #textbox-maintext-inner {
        font-size: 20px;
    }
    #textbox-subtitle {
        text-align: center;
        margin-top: -10px;
        font-size: 1rem;
    }
    .flex-item {
        /* background: #E4E4E4; */
        padding: 5px;
        width: 300px;
        height: fit-content;
        margin-top: 10px;
        /* line-height: 150px; */
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    .flex-container {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content: center;
        padding-left: 8rem;
        padding-right: 8rem;
        margin: 0;
        list-style: none;
        column-gap: 10px;
      }
      #bio-name {
        margin-top: -1px;
      }
       #bio-name-highlight{
        margin-top: -20px;
      }
      .bio-image {
        padding: 15px 0 0 0;
        height: 190px;
    }
    .flex-card-top {
        height: 235px;;
        border-radius: 12px 12px 0px 0;
        /* background-color: #FFEBB9; */
        margin: 0 0 0 0;
    }
    .flex-card-bottom {
        height:fit-content;
        border-radius: 0px 0px 12px 12px;
        /* background-color: #FFF6E8; */
        margin: 0 0 0 0;
        padding: 5px 0 5px 0;
    }
}

@media screen and (min-width: 1020px){
    #textbox-maintext-outer {
        text-align: center;
        /* padding-left: 6rem;
        padding-right: 6rem; */
        /* color: purple; */
        margin: 0 auto;
        width: 600px;
    }
    h1 {
        font-size: 2rem;
    }
    #textbox-maintext-inner {
        font-size: 20px;
    }
    #textbox-subtitle {
        text-align: center;
        margin-top: -10px;
        font-size: 1rem;
    }
    .flex-item {
        /* background: #E4E4E4; */
        padding: 5px;
        width: 400px;
        height: fit-content;
        margin-top: 10px;
        /* line-height: 150px; */
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    .flex-container {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content: center;
        padding-left: 5rem;
        padding-right: 5rem;
        margin: 0;
        list-style: none;
        column-gap: 10px;
      }
      #bio-name {
        margin-top: -1px;
      }
       #bio-name-highlight{
        margin-top: -20px;
      }
      .bio-image {
        padding: 15px 0 0 0;
        height: 190px;
    }
      #bio-content {
        color:black;
        font-size: 14px;
        width: 360px;
        margin: 0 auto;
    }
      #contact-prompt {
        font-family: "Inter", sans-serif;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-right: 0rem;
        padding-left: 0rem;
        width:700px;
    }
    .flex-card-top {
        height: 235px;;
        border-radius: 12px 12px 0px 0;
        /* background-color: #FFEBB9; */
        margin: 0 0 0 0;
    }
    .flex-card-bottom {
        height:fit-content;
        border-radius: 0px 0px 12px 12px;
        /* background-color: #FFF6E8; */
        margin: 0 0 0 0;
        padding: 5px 0 5px 0;
    }
}

@media screen and (min-width:1200px){
    #textbox-maintext-outer {
        /* color: blue; */
        padding-left: 8rem;
        padding-right: 8rem;
        margin: 0 auto;
        width: 700px;
    }
    #textbox-maintext-inner {
        font-size: 20px;
    }
    #textbox-subtitle {
        text-align: center;
        margin-top: -10px;
        font-size: 1rem;
    }
    .flex-item {
        /* background: blue; */
        padding: 5px;
        width: 400px;
        height: fit-content;
        margin-top: 10px;
        /* line-height: 150px; */
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
    .flex-container {
        /* We first create a flex layout context */
        display: flex;
        
        /* Then we define the flow direction 
           and if we allow the items to wrap 
         * Remember this is the same as:
         * flex-direction: row;
         * flex-wrap: wrap;
         */
        flex-flow: row wrap;
        
        /* Then we define how is distributed the remaining space */
        justify-content: center;
        width:850px;
        margin: 0 auto;
        list-style: none;
        column-gap: 10px;
        row-gap: 10px;
    }
    #bio-name {
        margin-top: -1px;
    }
    #bio-name-highlight{
        margin-top: -20px;
    }
    .bio-image {
        padding: 15px 0 0 0;
        height: 190px;
    }
    #bio-content {
        color:black;
        font-size: 14px;
        width: 360px;
        margin: 0 auto;
    }
    #contact-prompt {
        font-family: "Inter", sans-serif;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-right: 0rem;
        padding-left: 0rem;
        width:700px;
    }
    .flex-card-top {
        height: 235px;;
        border-radius: 12px 12px 0px 0;
        /* background-color: #FFEBB9; */
        margin: 0 0 0 0;
    }
    .flex-card-bottom {
        height:fit-content;
        border-radius: 0px 0px 12px 12px;
        /* background-color: #FFF6E8; */
        margin: 0 0 0 0;
        padding: 5px 0 5px 0;
    }
}